@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  font-family: 'Cairo';
  color: white;
}

body {
  background-color: #0C0829;
}

.navlink {
  color: white;
  font-family: 'Cairo';
  font-size: 1.5rem;
}
.navlink:visited {
  color: white !important;
}

.navlink:hover {
  color: blue !important;
}

@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

#home {
  min-height: 80vh
}

.animatedLogo {
  animation: float 2.5s infinite;
}

.homeContactBtn {
  max-width: fit-content;
  font-family: 'Cairo';
  font-size: 1.2rem;
  font-weight: 700;
  background-image: linear-gradient(to bottom right,#1A82CB,#1F3FAA);
}

.homeContactBtn:hover {
  background-image: linear-gradient(to bottom right,#1F3FAA,#1A82CB);
}

.aboutText {
  opacity: 0.7;
  font-size: 1.2rem;
}

.aboutSection {
  color: #3326AE;
  font-size: 1.5rem;
}

@keyframes lift {
  0% {transform: translateY(0);}
  100% {transform: translateY(-10px);}
}


.valuesIcon {
  opacity: 0.6;
  border-bottom: 1px solid #1F3FAA;
}

.valuesIcon:hover {
  opacity: 0.8;
}

.valueIconCard:hover {
  opacity: 1;
  animation: lift .5s forwards;
}

.valuesText {
  font-size: 1.4rem
}

@keyframes liftService {
  0% {transform: translateY(0);}
  100% {transform: translateY(-5px);}
}

.serviceCard:hover {
  animation: liftService .3s forwards;
}