@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  font-family: 'Cairo';
}

body {
  background-color: #0C0829;
  color: white;
}

.navlink {
  color: white;
  font-family: 'Cairo';
  font-size: 1.5rem;
}
.navlink:visited {
  color: white !important;
}

.navlink:hover {
  color: blue !important;
}

@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

#home {
  min-height: 80vh
}

.animatedLogo {
  animation: float 2.5s infinite;
}

.homeContactBtn {
  max-width: fit-content;
  font-family: 'Cairo';
  font-size: 1.2rem;
  font-weight: 700;
  background-image: linear-gradient(to bottom right,#1A82CB,#1F3FAA);
}

.homeContactBtn:hover {
  background-image: linear-gradient(to bottom right,#1F3FAA,#1A82CB);
}

.aboutText {
  opacity: 0.7;
  font-size: 1.2rem;
}

.aboutSection {
  color: #3326AE;
  font-size: 1.5rem;
}


.valuesIcon {
  opacity: 0.6;
  border-bottom: 1px solid #1F3FAA;
  transition: opacity .3s ease;
}

.valuesIcon:hover {
  opacity: 0.8;
}

.valueIconCard {
  transform: translateY(0);
  transition: transform .3s ease;
}

.valueIconCard:hover {
  opacity: 1;
  transform: translateY(-10px);
}

.valuesText {
  font-size: 1.4rem
}

.serviceImg, .serviceCard, .client {
  transform: translateY(0);
  transition: transform .3s ease;
}

.serviceImg:hover, .serviceCard:hover, .client:hover {
  transform: translateY(-5px);
}

.serviceCard .serviceImg {
  transform: rotateY(0deg);
  transition: transform .7s ease;
}

.serviceCard:hover .serviceImg {
  transform: rotateY(360deg);
}

.eventImage {
  width: 60%;
  opacity: 1;
}

.eventImage:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.initTab {
  font-size: 1.8rem;
  border-radius: 2rem;
  transition: background-color .3s ease;
}

.partnersBox {
  background-color: rgba(0, 0, 0, 0.2);
  border: #1A82CB 1px solid;
  border-radius: 2rem;
  width: 65%;
}

.contactIcon {
  color: #3326AE !important;
}

.socialIcon {
  width: 35px;
  height: 35px;
  background-color: #3326ae;
  border-radius: 50%;
}

.socialIcon:hover {
  background-color: #1A82CB;
}


/* ////////////////////////////////////////// */

@media (max-width:1023px) {
  .navbar {
    padding: 16px 0px !important;
    --bs-navbar-toggler-icon-bg : url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27><path stroke=%27rgba%28255, 255, 255, 0.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/></svg>)
  }
  .navbar .navbar-brand img {
    width: 170px;
  }
  .navbar .navbar-brand {
    margin-right: 0px;
  }
  .navbar .navbar-toggler {
    color: white !important;
  }

  #home .animatedLogo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  #home #responsiveLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home #webname {
    margin-top: 10px;
    font-size: 2rem !important;
  }

  #home #webdesc {
    text-align: center !important;
    font-size: 1.3rem !important;
  }

  #home .homeContactBtn {
    font-size: .9rem;
    display: flex !important;
    justify-content: left !important;
  }

  #footer img {
    width: 40px;
  }

  #footer>.row {
    
  }
}